<!--add customized code between this region-->
<!--add customized code between this region-->
@model Products.Web.Models.CatalogModel

<script src='@this.Url.Content("~/js/modal.js")'></script>
<script src='@this.Url.Content("~/js/editCollection.js")'></script>

<div class="t_title">
    <span class="span_title">SubCatalogs</span>
    <span class="m_btn" onclick="editSubCatalogs.addItem()" title="Add" style="float:right">New</span>
</div>

<table class="table table-striped table-bordered table-hover table_form" id="SubCatalogs" >
    <thead>
        <tr>
	<th class="text-left">Name</th>
	<th class="text-left">Code</th>
	<th class="text-left">Description</th>
	<th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.SubCatalogs != null && Model.SubCatalogs.Count > 0)
    {
        for (int i = 0; i < Model.SubCatalogs.Count; i++)
        {
           <tr class="data_tr">
                <td class="text-left">
                    @Html.HiddenFor(p => Model.SubCatalogs[i].Id)
                    @Html.TextBoxFor(p => Model.SubCatalogs[i].Name, new { @class = "readonly", @readonly = "readonly" })
                </td>
                <td class="text-left">
                    @Html.TextBoxFor(p => Model.SubCatalogs[i].Code, new { @class = "readonly", @readonly = "readonly" })
                </td>
                <td class="text-left">
                    @Html.TextBoxFor(p => Model.SubCatalogs[i].Description, new { @class = "readonly", @readonly = "readonly" })
                </td>
                <td class="center">
                    @Html.ActionLink(" ", "#", "#", null, new { href = "javascript:void(0);", @class = "m_edit", title = "Edit", onclick = "editSubCatalogs.editItem(this)" })
                    @Html.ActionLink(" ", "#", "#", null, new { href = "javascript:void(0);", @class = "m_delete", title = "Delete", onclick = "editSubCatalogs.removeItem(this)" })
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<script type="text/html" id="catalogTemplate">
    <tr class="data_tr">
                <td class="text-left">
                @Html.Hidden("SubCatalogs[{}].Id", 0, new { id = "SubCatalogs_{}__Id" })
                @Html.TextBox("SubCatalogs[{}].Name", null, new {id = "SubCatalogs_{}__Name",@class = "readonly", @readonly = "readonly" })
            </td>
                <td class="text-left">
                @Html.TextBox("SubCatalogs[{}].Code", null, new {id = "SubCatalogs_{}__Code",@class = "readonly", @readonly = "readonly" })
            </td>
                <td class="text-left">
                @Html.TextBox("SubCatalogs[{}].Description", null, new {id = "SubCatalogs_{}__Description",@class = "readonly", @readonly = "readonly" })
            </td>
            <td class="center">
                @Html.ActionLink(" ", "#", "#", null, new { href = "javascript:void(0);", @class = "m_edit", title = "Edit", onclick = "editSubCatalogs.editItem(this)" })
                @Html.ActionLink(" ", "#", "#", null, new { href = "javascript:void(0);", @class = "m_delete", title = "Delete", onclick = "editSubCatalogs.removeItem(this)" })
            </td>
    </tr>
</script>

<div class="mask" id="editCatalog">
    <div class="product_catalog">
        <div class="title">
            <button type="button" class="close" onclick="editSubCatalogs.cancelItem()" style="right: 1%;">&times;</button>
            <h4 style="width: 100%; margin: 0px">Catalog</h4>
        </div>
        <div class="border_line modal_scroll" id="editCatalogContent">
             @Html.Partial("_EditOneCatalog", Model)
        </div>
    </div>
</div>

<script>
    var editSubCatalogs = new MetaShare.EditCollection("SubCatalogs", "catalogTemplate", "editCatalog", "SubCatalogs", "EditOneCatalog");
</script>
